{%  extends 'main/base.html' %}
 {% load staticfiles %}
 {% load bootstrap %}

{% load i18n %}

    {% block title %}
        <title> Login </title>
    {% endblock %}
    {% block specific_style %}
      <style>
      .banner-body , body, html{
        height: 100% !important;
      }
      </style>
    {% endblock %}


   {% block main_block %}
<div class="breadcrumbs">
<a href="{% url 'accounts:password_reset' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>


<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="POST">
       {% csrf_token %}
    {{ form|bootstrap }}
{% comment %}{{ form.email.errors }}
<p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} </p>{% endcomment %}
<input class="btn  btn-primary" type="submit" value="{% trans 'Reset my password' %}" />
</form>

{% endblock %}
