{%  extends 'main/base.html' %}
{% load staticfiles %}
  {% block main_block %}
    <h1>{{ postDetails.post_title }}</h1>
    <p><a href="/category/{{postCat.id}}/details">{{postCat.cat_title}}</a></p>
    <p>{{postDetails.post_content}}</p>
    <img src="{{BASE_DIR}}/{{postDetails.post_img}}" height="42" width="42">
    <p>{{postDetails.post_date}}</p>


    {% if postDetails.comment_set.all %}
    <h2>Comments</h2>
    <div class="comments">
        {% for comment in postDetails.comment_set.all %}
          {% if not comment.reply_comment_id %}
            <span>
                {{ comment.comment_body }} said on {{ comment.comment_date }} by: {{ comment.comment_user_id }}
            </span>
                <br>
                {% if comment.comment_set.all.0 %}
                  <span>
                      {{ comment.comment_set.all.0.comment_body }} said on {{ comment.comment_set.all.0.comment_date }} by: {{ comment.comment_set.all.0.comment_user_id }}
                  </span>
                {% endif %}

          {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <br />

    <h2>Add Comment</h2>

    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" name="submit" value="Submit" />
    </form>

  <a href="/main/"> go back </a>
  {% endblock %}
