{%  extends 'main/base.html' %}
 {% load staticfiles %}

    {% block main_block %}

        <h1>
            Posts
        </h1>
        <table style=" border: 1px solid ">
            <thead style=" border: 1px solid ">
                <tr style=" border: 1px solid ">
                    <th style=" border: 1px solid ">Post Title</th>
                    <th style=" border: 1px solid ">Content</th>
                    <th style=" border: 1px solid ">Image</th>
                    <th style=" border: 1px solid ">Date</th>
                </tr>
            </thead>
            <tbody style=" border: 1px solid ">
            {% for post in posts %}
                <tr style=" border: 1px solid ">
                    <td style=" border: 1px solid "><a href="{{BASE_DIR}}/main/{{ post.id }}/post">{{post.post_title}}</a></td>
                    <td style=" border: 1px solid ">{{post.post_content}}</td>
                    <td style=" border: 1px solid "><img alt="img" src="{{BASE_DIR}}/{{post.post_img}}" height="300" width="300"></td>
                    <td style=" border: 1px solid ">{{post.post_date}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        <div class="categories-list">
           {% for cat in categories %}
              <div class="list-item">
                    <div class="list-desc">
                        <p> {{ cat.cat_title }} </p>
                    </div>
                    {% if request.user.is_authenticated %}
                    <div class="subscribe">
                        {% if cat in subscribedCats %}
                          <a href = "/home/unsubscribe/{{cat.id}}"> Unsubscribe </a>
                        {% else %}
                          <a href = "/home/subscribe/{{cat.id}}"> Subscribe </a>
                        {% endif %}

                    </div>
                    {% endif %}
              </div>
           {% endfor %}
        </div>
{% endblock %}
